.section {
  padding: 0 20px;
}

.upperPanel {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: var(--text);
  width: 264px;
}

.counter {
  font-size: 28px;
  font-weight: 300;
  color: var(--text);
}

.counter2 {
  color: rgba(23, 61, 51, 0.25);
}

.arrows {
  display: flex;
  gap: 12px;
}

.arrowButton {
  border-radius: 50%;
  padding: 15px;
  border: 1px solid var(--text);
  background-color: transparent;
  stroke: var(--text);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.2s ease, stroke 0.2s ease;
}

.arrowButton:hover {
  border: 1px solid var(--secondary);
  stroke: var(--secondary);
}

.embla {
  display: flex;
}

.emblaViewport {
  overflow: hidden;
  width: 100%;
}

.emblaContainer {
  display: flex;
}

.emblaSlide {
  flex: 0 0 100%;
  min-width: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .section {
    padding: 60px 30px;
  }
  .upperPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 38px;
  }
  .title {
    font-size: 36px;
  }
  .controls {
    margin-bottom: 0;
    gap: 126px;
  }

  .emblaSlide {
    flex: 0 0 calc(50% - 12px);
  }
  .emblaContainer {
    gap: 24px;
  }

  .arrows {
    gap: 12px;
  }
  .divider {
    width: 1px;
    height: 65px;
    background-color: var(--secondary);
    position: absolute;
    left: 50%;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 84px 100px;
  }
  .controls {
    gap: 194px;
  }
  .title {
    font-size: 48px;
    width: 400px;
  }
  .emblaSlide {
    flex: 0 0 calc(50% - 24px);
  }
  .emblaContainer {
    gap: 48px;
  }
  .divider {
    height: 96px;
  }
}
