.container {
  padding: 36px 20px;
}

.faqSection {
  margin-top: 24px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  text-align: left;
  text-transform: uppercase;
  color: var(--primary);
  font-size: 28px;
  color: var(--text);
}

.item {
  display: flex;
  flex-direction: column;
  padding: 17px;
  border-top: solid 1px var(--secondary);
}

.questionBlock {
  display: flex;
  align-items: center;
  gap: 8px;
}
.question {
  font-size: 18px;
  color: var(--text);
}

.answer {
  margin-left: 24px;
  font-size: 14px;
  color: var(--text);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.open {
  margin-top: 16px;
  max-height: 200px;
  opacity: 1;
}

.afterBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 36px;
  gap: 12px;
}
.afterText {
  font-size: 18px;
  color: var(--text);
  letter-spacing: -0.04em;
}
.btn {
  gap: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 500px;
  color: var(--text);
  background-color: var(--secondary);
  border-color: transparent;
  transition: color 0.3s ease, background-color 0.3s ease,
    background-color 0.3s ease;
}

.btnText {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.04em;
}
.arrow {
  width: 14px;
  height: 14px;
  background-color: var(--text);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.btn:hover {
  color: var(--secondary);
  background-color: var(--text);
}

.btn:hover .arrow {
  background-color: var(--secondary);
}

@media (min-width: 768px) {
  .container {
    padding: 46px 30px;
  }
  .title {
    font-size: 36px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 56px 100px;
  }
  .title {
    font-size: 48px;
  }
  .question {
    font-size: 24px;
  }
  .answer {
    font-size: 16px;
  }
}
