.container {
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  width: 100%;
}

.form {
  padding: 36px 12px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.contact_type {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--text);
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.input {
  padding: 0 0 8px 0;
  background-color: var(--primary);
  border: none;
  border-bottom: var(--secondary) 1px solid;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--text);
}

.input.invalid {
  border-color: rgba(210, 139, 139, 1);
}

.message {
  height: 150px;
  resize: none;
}

.btn {
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary);
  border-radius: 25px;
  background-color: var(--primary);
  transition: color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
  padding: 0 4px;
  width: 100px;
}

.btn:hover {
  background-color: var(--text);
}

.btnText {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: var(--text);
  padding: 10.5px 12px;
}

.btn:hover .btnText {
  color: var(--secondary);
}

.wrapArrow {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: var(--secondary);
  border-radius: 50%;
}

.arrow {
  width: 16px;
  height: 16px;
}
.btnContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

@media (min-width: 768px) {
  .form {
    padding: 36px 24px;
  }
}
