.section {
  padding: 110px 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  color: var(--text);
  letter-spacing: 0;
  line-height: 36px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  letter-spacing: -0.04em;
  text-align: justify;
  margin-top: 24px;
}

.btn {
  display: flex;
  align-items: center;
  margin: 24px auto;
  border: 1px solid var(--secondary);
  border-radius: 25px;
  background-color: var(--background);
  transition: color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
  padding: 0 4px;
}

.btn:hover {
  background-color: var(--text);
}

.btnText {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: var(--text);
  padding: 10.5px 12px;
}

.btn:hover .btnText {
  color: var(--secondary);
}

.wrapArrow {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: var(--secondary);
  border-radius: 50%;
}

.arrow {
  width: 16px;
  height: 16px;
}

.address {
  font-size: 16px;
  line-height: 100%;
  color: var(--text);
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.04em;
  padding-top: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-top: 1px solid var(--secondary);
}

.link {
  text-decoration: none;
  color: var(--text);
}

.copyright {
  display: none;
}

@media (min-width: 768px) {
  .section {
    padding: 128px 30px 0 30px;
  }
  .title {
    font-size: 48px;
    line-height: 48px;
  }
  .textSection {
    display: flex;
    align-items: stretch;
    gap: 65px;
    margin-bottom: 24px;
    height: 100%;
  }
  .text {
    margin-top: 0;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .btn {
    margin-left: 0px;
    margin-bottom: 0;
    margin-top: auto;
  }
  .address {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .copyright {
    display: block;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 164px 100px 0 100px;
  }
  .title {
    font-size: 64px;
    line-height: 64px;
  }
  .textSection {
    gap: 296px;
  }
}
