.card {
  display: flex;
  flex-direction: column;
  max-width: 728px;
  background-color: var(--primary);
}

.image {
  width: 100%;
  object-fit: cover;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 12px 24px;
  gap: 28px;
}

.text {
  color: var(--text);
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.04em;
}

.arrowWrap {
  display: flex;
  align-items: center;

  background-color: var(--secondary);
  border-radius: 50%;
  padding: 16px;
}

.description {
  padding: 0 12px 12px 12px;
}

.descContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  border-top: 1px solid var(--secondary);
}

.descText {
  font-size: 12px;
  color: var(--text);
}
.descDate {
  font-size: 12px;
  color: var(--text);
}

@media (min-width: 768px) {
  .text {
    font-size: 20px;
  }
  .descText {
    font-size: 14px;
  }
  .descDate {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .textContainer {
    padding: 36px 48px;
    gap: 32px;
  }
  .text {
    font-size: 24px;
  }
  .description {
    padding: 24px 48px 36px 48px;
  }
  .descContainer {
    padding-top: 24px;
  }

  .descText {
    font-size: 16px;
  }
  .descDate {
    font-size: 16px;
  }
}
