.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 20px;
}

.logo {
  cursor: pointer;
}
.logo:hover path:nth-of-type(3) {
  fill: var(--secondary);
}
.burger {
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding: 12px;
  border-radius: 25px;
  background-color: var(--accent);
  transition: background-color 0.3s ease;
}

.wrapBurger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger:hover {
  background-color: var(--secondary);
}
.btn {
  display: none;
}

@media (min-width: 768px) {
  .container {
    padding: 36px 30px;
  }

  .navContainer {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .btn {
    gap: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 500px;
    color: var(--text);
    background-color: var(--secondary);
    border-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .arrow {
    width: 14px;
    height: 14px;
    background-color: var(--text);
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    color: var(--secondary);
    background-color: var(--text);
  }

  .btn:hover .arrow {
    background-color: var(--secondary);
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 24px 100px;
  }
}
