.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(23, 61, 51, 0.25);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.burgerContainer {
  display: flex;
  flex-direction: column;
  margin: 36px 20px;
  min-width: 320px;
  min-height: 700px;
  max-width: 365px;
  max-height: 873px;
  background-color: var(--burger);
  backdrop-filter: blur(5px);
  z-index: 150;
  border-radius: 25px;
  position: relative;
}

.burgerMenu {
  margin: 0 24px;
}

.btnClose {
  display: flex;
  align-items: center;
  width: 100%;
  border: 0;
  background-color: transparent;
  color: var(--primary);
  font-size: 20px;
  stroke: var(--primary);
  padding: 0 0 8px 0;
  margin: 24px 0;
  cursor: pointer;
  border-bottom: 1px solid var(--primary);
  transition: color 0.3s, stroke 0.3s;
}
.btnClose:hover {
  color: var(--secondary);
  stroke: var(--secondary);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 24px;
  color: var(--primary);
}

.list_item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: color 0.3s, stroke 0.3s;
}

.list_item:hover {
  color: var(--secondary);
  stroke: var(--secondary);
}

.socials {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 8px;
  bottom: 0;
  position: absolute;
}

.social {
  color: var(--primary);
  transition: color 0.3s ease;
}

.social:hover {
  color: var(--secondary);
}

@media (min-width: 768px) {
  .burgerContainer {
    margin: 36px 30px;
  }
}

@media (min-width: 1280px) {
  .burgerContainer {
    margin: 24px 100px;
  }
}
