:root {
  --background: rgba(243, 245, 250, 1);
  --primary: rgba(234, 237, 241, 1);
  --secondary: rgba(151, 210, 139, 1);
  --accent: rgba(220, 239, 216, 1);
  --text: rgba(23, 61, 51, 1);
  --card: rgba(234, 237, 241, 1);
  --burger: rgba(23, 61, 51, 0.75);
}
