.container {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 24px;
  justify-content: space-between;
}

.card {
  min-width: 148px;
  max-height: 197px;
  background-color: var(--card);
}

.titleWrap {
  display: flex;
  gap: 8px;
  padding: 17px 12px 33px 12px;
}

.title {
  font-family: oswald, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--text);
}

.textWrap {
  display: flex;
  text-align: start;
  padding: 12px;
}

.text {
  color: var(--text);
  font-size: 14px;
  border-top: 1px solid var(--secondary);
  padding-top: 12px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
