.section {
  padding: 0 20px;
  color: var(--text);
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 24px;
  text-align: center;
}

.contacts_item {
  text-decoration: none;
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 8px;
}

.contacts_section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact_type {
  margin-bottom: 8px;
}

.social {
  padding: 12px;
  color: var(--text);
  transition: color 0.3s ease;
}
.social:hover {
  color: var(--secondary);
}

@media (min-width: 768px) {
  .section {
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }
  .contacts_section {
    width: 50%;
  }
  .formWrapper {
    width: 50%;
  }
  .title {
    margin-bottom: 40px;
    margin-top: 56px;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 0 100px;
  }
  .title {
    font-size: 48px;
  }
  .title {
    margin-bottom: 120px;
    margin-top: 64px;
  }
}
