.section {
  padding: 0 20px;
  color: var(--text);
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 24px;
  text-align: center;
}

.contacts_item {
  text-decoration: none;
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 8px;
}

.contacts_section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact_type {
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .section {
    padding: 20px 56px;
  }
  .title {
    font-size: 36px;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 64px 100px;
  }
  .title {
    font-size: 48px;
  }
}
